.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .card {
    background-color: rgb(74, 135, 160);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1400px;
    padding: 40px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    margin-top: 0;
    font-size: 50px;
    color: #333;
  }
  
  .card-text {
    font-size: 30px;
    color: #f6eeee;
  }
  