.calendar-container {
  background-color: #91a58b; 
  padding: 30px;
  border-radius: 20px;
  max-width: 650px;
  width: 100%;
  height: 100%;
}


.calendar-container:hover {
  box-shadow: 0 0 15px rgba(139, 170, 127, 0.7); 
}

.react-calendar {
  font-size: 30px;
  width: 100%;
  border: none;
  color: #2F3B28; 
  font-family: 'Franklin Gothic Medium';
  background-color: #e4ece2;
}

.react-calendar__tile {
  height: 70px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: relative;
  padding: 5px;
  color: #2F3B28; 
}

.react-calendar__tile--active {
  background: transparent !important;
  color: #2F3B28;
  box-shadow: none;
}

.react-calendar__navigation__label {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color: #2F3B28; 
}
.tile-happy {
  background-color: #8ce26a; 
  color: #fff;
}

.tile-sad {
  background-color: #D2A68D; 
  color: #2F3B28; 
}

.tile-anxious {
  background-color: #E07A70; 
  color: #fff;
}

.tile-neutral {
  background-color: #C7D3A4; 
  color: #2F3B28;
}
.modal {
  background: #BCC4AA; 
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  width: 300px;
  box-shadow: 0 8px 20px rgba(47, 59, 40, 0.3);
  color: #2F3B28;
}

.modal h3 {
  margin-bottom: 20px;
  color: #2F3B28;
}

.modal button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #8BAA7F; /* green */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: #6E8864; /* darker green */
}

.cancel-button {
  background-color: #E9E2B8 !important; /* pale yellow */
  color: #2F3B28 !important;
  font-weight: 600;
}
