.footer {
    background-color: #A8BBA2; 
    color: #444c2d;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
    /* font-family: Georgia;
    font-size: 46px; */
  }


  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Georgia;
    font-size: 46px;
  }
  
  .footer-text {
    margin-bottom: 10px;
    font-family: Georgia;
    font-size: 30px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icons a {
    color: #333333;
    font-size: 24px;
    text-decoration: none;
  }

  