main{
  background-color: #d8e3e7;
}



html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #f5b6d1;
  text-align: center;
  padding: 10px;
}

